body {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: larger;
}

.text-center{
    text-align: center;
}
.main-container{
    position: relative;
}

.container{
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgb(134, 130, 130);
    margin-left: 550px;
    margin-top: 20px;
    padding: 5px 0 5px 5px;
    border-radius: 5px;
}

.row{
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    border-radius: 10px !important;
}

.button{
    cursor: pointer;
    font-size: larger;
    background-color: rgb(12, 12, 12);
    color: white;
    height: 80px;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 10px !important;
    margin-right: 5px;
}

::placeholder{
    color: white !important;
}

.row input{
    height: 55px;
    width: 410px;
    border: 0px solid white;
    border-radius: 5px;
    font-size: larger;
    margin-left: -4px;
    margin-bottom: 0.5px;
    color: white;
    background-color: rgb(44, 44, 44);
    outline: 0 !important;
    padding: 5px 5px 5px 10px;
    padding-top: 0px !important;
}